@import '~src/styles/mixins';

.spacer {
  flex: 1 1 auto;
}
.logo {
  max-height: 40px;
}
.only-small {

}
.hide-small {
  display:  none;
}
@include breakpoint-gt-xs {
  .only-small {
    display: none;
  }
  .hide-small {
    display: inline-block;
  }
}
