@import '~src/styles/mixins';

.secondary-toolbar {
  font-size: inherit;
}
.stats-toolbar {
  font-size: inherit;
  height: 40px;
}
.results {
  display: flex;
  flex-wrap: wrap;
  padding: 12px;
  box-sizing: border-box;
  // justify-content: space-between;
  .result {
    margin: 12px;
    box-sizing: border-box;
    @include breakpoint-xs {
      width: calc(100% - 24px);
    }
    @include breakpoint-s {
      width: calc(50% - 24px);
    }
    @include breakpoint-m {
      width: calc(33.3% - 24px);
    }
    @include breakpoint-l {
      width: calc(25% - 24px);
    }
    @include breakpoint-xl {
      width: calc(20% - 24px);
    }
  }
}
